body{
  margin: 1;
}

nav{
  height: 100px;
  background-color: #FFFACD;
  border: 3px solid blue;
  text-align: center;
}



footer{
  background-color: #CCC;
  border: 3px solid green;
}

.div_footer{
    text-align: center;
    padding: 10px;
}





.div_body{
  background-color: #98FB98;
  border: 3px solid red;
}

.div_content{
  text-align: center;
  padding: 15px;
}
