<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Learning AngularJS</title>
  <script type="text/javascript" src="angular.min.js"></script>
</head>
<body>

  <div ng-app="myApp" ng-controller="myCTRL">
    <h1>List People</h1>

    <select ng-model="orderinigFor" ng-options="x.name for x in options_array">
    </select>

    <table border="0" width="500">
      <tr>
        <th align="left" ng-repeat="opt in options_array">{{opt.name | uppercase}}</th>
      </tr>
      <tr ng-repeat="person in people | orderBy:orderinigFor.v_value">
        <td>{{person.name}}</td>
        <td>{{person.country}}</td>
      </tr>
    </table>

  </div>


  <script type="text/javascript">
  var app = angular.module("myApp",[]);
  app.controller("myCTRL", function($scope){
    $scope.options_array = [{name:'Name of person', v_value:'name'},
    {name:'Country from', v_value:'country'}];

    $scope.people = [
      {'name':'Clark Kent', 'country':'Canada'},
      {'name':'Bruce Wayne', 'country':'Brazil'},
      {'name':'AWonder Woman', 'country':'Japan'}
    ];

  });

  </script>



</script>
</body>
</html>
