<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>News</title>
</head>
<body>
  <h1>News</h1>

  <table>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Content</td>
    </tr>

    <% for(var i=0; i< news.length; i++){ %>
    <tr>
      <td><%= news[i].id_news %></td>
      <td><%= news[i].title %></td>
      <td><%= news[i].content %></td>
    </tr>
    <% } %>

  </table>
</body>
</html>
